@charset "UTF-8";
div {
	width: 800px;
	margin:auto;
	text-align: center;	
}

table {
	width: 800px;
	border-collapse: collapse;	
}

td, th {
	border : 1px solid #3fdf84;
	padding: 10px;
}

thead { 
	background-color: #1dbe63;
	color: white;	
}
	
th:nth-of-type(1) {
	width:50px;
}

th:nth-of-type(2) {
	width:300px;
}

th:nth-of-type(3) {
	width:100px;
}

th:nth-of-type(4) {
	width:100px;
}	

th:nth-of-type(5) {
	width:50px;
}	
table a{
	text-decoration: none;
	color: black;
}
table a:hover{
	font-weight: bold;
}


h1 {
	color : #1dbe63;
}

button{
	color: white;
	background-color: #3fdf84;
	border-color: #3fdf84;
}
button:active {
	color: white;
	background-color: #1dbe63;
	border-color: #1dbe63;
}