div{
	width: 800px;
	margin: auto;
}
h2{
	color : #1dbe63;
	text-align: center;
}
table{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
} 
td,th{
	border: 1px solid #3fdf84;
	padding: 10px;
}
th{
	background-color: #1dbe63;
	color: #fff;
	text-align: center;
	width: 15%;
}
input[type='text']{
	width: 80%;
}
input[type='password']{
	width: 20%;
}
textarea{
	resize: none;
}
#btn{
	text-align: center;
}
.readonly{
	background-color: lightgray;
}
input[type = 'button'], input[type='reset']{
	color: white;
	background-color: #3fdf84;
	border-color: #3fdf84;
}
input[type = 'button']:active, input[type='reset']:active {
	color: white;
	background-color: #1dbe63;
	border-color: #1dbe63;
}
