div {
	width: 800px;
	margin: auto;
	text-align: center;
}
table {
	width: 800px;
	text-align: left;
	border-collapse: collapse;		
}

td,th {
	border : 1px solid #3fdf84;
	padding: 10px;	
	text-align: center;
}

th {
	width: 130px;
	background-color: #1dbe63;
	color: white;
}

#btn {
text-align: center;
}

h1 {
	color : #1dbe63;	
}
